body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header img {
    width: 100%;
    height: 250px; /* altura retangular */
    object-fit: cover;
  }
  
  main {
    padding: 0;
    margin: 0;
  }
  
  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    height: 100vh; /* altura total visível */
    box-sizing: border-box;
  }
  
  .texto {
    width: 50%;
    padding-right: 20px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .texto p {
    margin-bottom: 20px;
  }
  
  .imagens-laterais {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .imagens-laterais img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    flex: 1;
    object-fit: cover;
  }
  